@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#000;
    font-family: 'Poppins', sans-serif;
    margin-left: 4vw;
    overflow-x: hidden;
}

.logo{
    color:#f7a90c;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35vw;
    margin-top: 3vh;
    height:5vh;
}

ul{
    width:30vw;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color:whitesmoke;
    text-transform: uppercase;
}

main{
    position: relative;
}

img{
    position:absolute;
    right:0;
    top:15vh;
    height:650px;
    width:950px;
    object-fit: cover;
    padding:10px;
    border:1px solid #c9a356;
    border-right: none;
}

.text_styling{
    position:absolute;
    margin-top:25vh;
}

h1{
    font-size: 6rem;
    word-spacing: 2px;
    line-height: 1.2;
    color:whitesmoke;
    letter-spacing: 3px;
    z-index: 1;
}

p{
    color:whitesmoke;
    margin-top:7vh;
}

button{
    width:200px;
    height:50px;
    background-color: #f7a90c;
    color:#000;
    margin-top:6vh;
    font-size:20px;
}

.style_bottom_line{
    margin-top: 7vh;
    width:78%;
    border:1px solid #c9a356;
}

.recent_work{
    width:150px;
    height:150px;
    background-color:#f7a90c;
    position: absolute;
    right:0;
    top:75vh;
}

.recent_work p{
    color: #000;
}



